{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="POST" class="post-form my-3">
        {{ form.csrf_token }}

        <!-- 오류내용 표시 Start p.105 
        만약 create 함수에서 form.validate_on_submit이 실패(false 반환)하면, 추가한 영역에 오류가 표시될 것이다. -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong> : {{', '.join(errors)}}
        </div>
        {% endfor %}

    <!--
        {{ form.subject.label }}
        {{ form.subject(class="form-control") }}

        {{ form.content.label }}
        {{ form.content(class="form-control") }} 
    
    위와 같은 방식으로 폼을 작성할 수도 있지만, 내가 원하는 디자인으로 만들기 위해서 아래와 같은 html을 직접 작성하도록 한다. 
    -->

        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or ''}}">
            <!--value 값으로 form.subject.data or ''를 입력하면 이미 전송한 데이터가 다시 설정된다. 
              or ''은 '현재 템플릿이 Get 방식으로 요청되는 경우 기존 입력값이 없으므로 (None으로 출력) 이를 방지하기 위해서 사용했다. 
              즉 이렇게 하면 form.subject.data에 값이 없을 때 None이 아니라 ''이 출력된다. '-->

        </div>
        <div class="form-group">
            <label for = "content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장하기</button>

    </form>



</div>
{% endblock %}